USE [master]
GO
/****** Object:  Database [qq]    Script Date: 11/06/2018 18:06:18 ******/
CREATE DATABASE [qq] ON  PRIMARY 
( NAME = N'qq', FILENAME = N'd:\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\qq.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'qq_log', FILENAME = N'd:\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\qq_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [qq].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [qq]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/06/2018 18:06:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[passwd] [varchar](50) NULL,
	[nickname] [varchar](50) NULL,
	[home] [varchar](50) NULL,
	[phonenum] [varchar](50) NULL,
	[age] [varchar](50) NULL,
	[sex] [varchar](50) NULL,
	[mail] [varchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
